---
import Layout from '../layouts/Layout.astro';
import PayoffCalculator from '../components/PayoffCalculator.jsx';
---

<Layout title="How Should We Buy Compute?">
  <main class="min-h-screen">
    <PayoffCalculator client:load />
  </main>
</Layout>
